body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #302f31;

  /*background-color: #151521;*/
  /*background-image: url("https://www.transparenttextures.com/patterns/hixs-evolution.png");*/
  /*!* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *!*/
}

html, body { height: 100%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**
 * Shiny
 */

.shiny {
  position: relative;
  overflow: hidden;
}

/*.shiny:nth-child(1) { background: cornflowerblue; }*/
/*.shiny:nth-child(2) { background: salmon; }*/
/*.shiny:nth-child(3) { background: gray; }*/

/**
 * The "shine" element
 */

/*.shiny:after {*/

/*  animation: shine 5s ease-in-out  infinite;*/
/*  animation-fill-mode: forwards;*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: -110%;*/
/*  left: -210%;*/
/*  width: 200%;*/
/*  height: 200%;*/
/*  opacity: 0;*/
/*  transform: rotate(30deg);*/

/*  background: rgba(255, 255, 255, 21);*/
/*  background: linear-gradient(*/
/*          to right,*/
/*          rgba(255, 255, 255, 0.13) 0%,*/
/*          rgba(255, 255, 255, 0.13) 77%,*/
/*          rgba(255, 255, 255, 0.5) 92%,*/
/*          rgba(255, 255, 255, 0.0) 100%*/
/*  );*/
/*}*/

/*!* Hover state - trigger effect *!*/


/*!* Active state *!*/

/*.shiny:active:after {*/
/*  opacity: 0;*/
/*}*/

/*@keyframes shine{*/
/*  10% {*/
/*    opacity: 1;*/
/*    top: -30%;*/
/*    left: -30%;*/
/*    transition-property: left, top, opacity;*/
/*    transition-duration: 0.7s, 0.7s, 0.15s;*/
/*    transition-timing-function: ease;*/
/*  }*/
/*  100% {*/
/*    opacity: 0;*/
/*    top: -30%;*/
/*    left: -30%;*/
/*    transition-property: left, top, opacity;*/
/*  }*/
/*}*/


/*body{*/
/*  font-family: sans-serif;*/
/*  font-size: 16px;*/
/*  background: linear-gradient(to right, #363636 50%, #303030 50%);*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  height: 100vh;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/


.shiny:after{
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
  animation: ShineAnim 3s ease infinite;
  animation-delay: 0s;
}
@keyframes ShineAnim{
  0%{left: -100%}
  30%{left: 100%}
  100%{left: 100%}
}

/*sdfsdsdsdfsdf*/

@keyframes animateSprite {
  0% {
    background-position: -600px; /* Starting position moving left sprite */
  }
  20% {
    background-position: 0px; /* Straight on sprite */
  }
  25% {
    background-position: -200px; /* Moving up sprite */
  }
  35% {
    background-position: -400px; /* Moving right sprite */
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;  /* Moving up sprite */
  }
  60% {
    background-position: -0px; /* Straight on sprite */
  }
  67% {
    background-position: -600px; /* Moving up sprite */
  }

  100% {
    background-position: -600px;
  }
}

@keyframes swim {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
  }
  50% {
    transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
  }
  60% {
    transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
  }
}
.ocean {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(0deg, #182848, #2980b9);*/
  /*background-image: linear-gradient(0deg, #151e31, #396281);*/
  background-image: linear-gradient(0deg, #05112a, #3490bf);
  overflow: hidden;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.1;
  animation: bubble 15s ease-in-out infinite,
  sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.15;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.05;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.1;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.1;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.05;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.1;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.15;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.05;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.1;
}

/*sdfsdfsfdss*/
